<div class="navigation">
    <ul>
        <li><a href="#" id="workspace">Workspace</a></li>
        <li><a href="#" id="carry">Carry</a></li>
        <li><a href="#" id="lifestyle">Lifestyle</a></li>
        <li><a href="#" id="photography">Photography</a></li>
        <li><a href="#" id="all">All</a></li>
    </ul>
    <input id="search" type="text" placeholder="Search..">
</div>