{% extends "partials/_layout.twig" %}

{# Set the page title #}
{% set pageTitle = 'Goods Project' %}

{% block page %}
	{# Start writing code! #}
	<nav>
		<div class="header">
			Inventory
			<span>of Pontus Madsen</span>
		</div>
		{% include "components/_navigation.twig" %}
		
	</nav>
	<section class="full holder-it-items">
		<div class="items">

			{% include 'components/_item.twig' with 
			{
				goods: 
				[
					{
					new: true,
					image: 'assets/img/6629054c1cf9204302bc127c_20240424T0112-17faba17-38ba-4d8f-869f-e8c9d9afbe95.webp',
					company:'Apple',
					cat: 'Workspace',
					name: 'Vision Pro',
					price: '¥550,000',
					url: 'https://www.google.com',
					},
					{
					new: true,
					image: 'assets/img/6629054c79310d5fd19b6512_20240424T0112-c38673ea-0845-4034-8244-e9b58bc4226d.png',
					company:'Rabbit',
					cat: 'Carry',
					name: 'r1',
					price: '¥31,000',
					url: 'https://www.google.com',
					},
					{
					new: true,
					image: 'assets/img/raycue.jpg',
					company:'RayCue',
					cat: 'Workspace',
					name: 'RayCue 128K Pro',
					price: '¥46,500',
					url: 'https://www.google.com',
					},
					{
					new: false,
					image: 'assets/img/mac-studio-select-202306.jpg',
					company:'Apple',
					cat: 'Workspace',
					name: 'Mac Studio M2 Max',
					price: '¥300,000',
					url: 'https://www.google.com',
					},
					{
					new: false,
					image: 'assets/img/intouspromedium.webp',
					company:'Wacom',
					cat: 'Workspace',
					name: 'Intuos Pro Medium',
					price: '¥35,000',
					url: 'https://www.google.com',
					},
					{
					new: false,
					image: 'assets/img/iphone-pro-max-14.png',
					company:'Apple',
					cat: 'Carry',
					name: 'iPhone 14 Pro Max',
					price: '¥180,000',
					url: 'https://www.google.com',
					},
					{
					new: false,
					image: 'assets/img/hardgraft-carry-all-bag.webp',
					company:'HardGraft',
					cat: 'Lifestyle',
					name: 'Overhead Holdall Bag',
					price: '¥130,000',
					url: 'https://www.google.com',
					},
					{
					new: false,
					image: 'assets/img/NigelCabournLiamGallagherLongSmock.webp',
					company:'Nigel Cabourn',
					cat: 'Lifestyle',
					name: 'x Liam Gallagher',
					price: '¥180,000',
					url: 'https://www.google.com',
					},
					{
					new: false,
					image: 'assets/img/keycron.jpg',
					company:'Keycron',
					cat: 'Workspace',
					name: 'Mechanical Keyboard',
					price: '¥12,000',
					url: 'https://www.google.com',
					},
					{
					new: false,
					image: 'assets/img/6500492cv1d.jpg',
					company:'LG',
					cat: 'Workspace',
					name: 'Utra-Wide 4K 40"',
					price: '¥172,000',
					url: 'https://www.google.com',
					},
					{
					new: false,
					image: 'assets/img/lg_ultrafine.png',
					company:'LG',
					cat: 'Workspace',
					name: 'UltraFine 5K 27"',
					price: '¥200,000',
					url: 'https://www.google.com',
					},
					{
					new: false,
					image: 'assets/img/airpodsmac.png',
					company:'Apple',
					cat: 'Carry',
					name: 'AirPods Max',
					price: '¥85,000',
					url: 'https://www.google.com',
					},
					{
					new: false,
					image: 'assets/img/airpodspro.png',
					company:'Apple',
					cat: 'Carry',
					name: 'AirPods Pro v2',
					price: '¥38,000',
					url: 'https://www.google.com',
					},
					{
					new: false,
					image: 'assets/img/macmini_old.png',
					company:'Apple',
					cat: 'Workspace',
					name: 'Mac Mini M1',
					price: '¥95,000',
					url: 'https://www.google.com',
					}
				],
				}
			%} 


		</div>
	</section>
{% endblock %}